[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/colour_sampler_pack"]
	path = bundle/colour_sampler_pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = https://github.com/vim-scripts/perl-support.vim.git
[submodule "bundle/table"]
	path = bundle/table
	url = https://github.com/nvie/vim-rst-tables.git
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/perldoc"]
	path = bundle/perldoc
	url = https://github.com/vim-scripts/Perldoc.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/verilog"]
	path = bundle/verilog
	url = https://github.com/vim-scripts/verilog.vim.git
[submodule "bundle/linediff"]
	path = bundle/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/python"]
	path = bundle/python
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/verilog_systemverilog"]
	path = bundle/verilog_systemverilog
	url = https://github.com/vim-scripts/verilog_systemverilog.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "bundle/vim-support"]
	path = bundle/vim-support
	url = https://github.com/tupton/vim-support.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/thisivan/vim-bufexplorer.git
[submodule "bundle/buffergrep"]
	path = bundle/buffergrep
	url = https://github.com/vim-scripts/buffergrep.git
[submodule "bundle/multipleHilight"]
	path = bundle/multipleHilight
	url = https://github.com/vim-scripts/Mark--Karkat.git
[submodule "bundle/colorSchemeEx"]
	path = bundle/colorSchemeEx
	url = https://github.com/vim-scripts/Color-Scheme-Explorer.git
[submodule "bundle/colorSchemeDegrade"]
	path = bundle/colorSchemeDegrade
	url = https://github.com/carlobaldassi/vim-colorschemedegrade.git
[submodule "bundle/compview"]
	path = bundle/compview
	url = https://github.com/vim-scripts/compview.git
[submodule "bundle/narrow"]
	path = bundle/narrow
	url = https://github.com/chrisbra/NrrwRgn.git
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/mw_utils"]
	path = bundle/mw_utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/checkSyntax"]
	path = bundle/checkSyntax
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/color_gruvbox"]
	path = bundle/color_gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/color_hybrid"]
	path = bundle/color_hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "bundle/color_badwolf"]
	path = bundle/color_badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/LargeFile"]
	path = bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/xml"]
	path = bundle/xml
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "bundle/vim_indent_guides"]
	path = bundle/vim_indent_guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/autocomplete"]
	path = bundle/autocomplete
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/vim_airline"]
	path = bundle/vim_airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bundle/vim_nocturne"]
	path = bundle/vim_nocturne
	url = https://github.com/euclio/vim-nocturne.git
[submodule "bundle/fontmanager"]
	path = bundle/fontmanager
	url = https://github.com/takac/vim-fontmanager
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/color_tomorrow"]
	path = bundle/color_tomorrow
	url = https://github.com/csexton/tomorrow-theme.vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "bundle/multiple_cursor"]
	path = bundle/multiple_cursor
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/signature"]
	path = bundle/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/dirdiff"]
	path = bundle/dirdiff
	url = https://github.com/vim-scripts/DirDiff.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/outline"]
	path = bundle/outline
	url = https://github.com/Shougo/unite-outline.git
[submodule "bundle/vimfiler"]
	path = bundle/vimfiler
	url = https://github.com/Shougo/vimfiler.vim.git
[submodule "bundle/ultiSnips"]
	path = bundle/ultiSnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule "bundle/neocomplcache-ultisnips"]
	path = bundle/neocomplcache-ultisnips
	url = https://github.com/JazzCore/neocomplcache-ultisnips.git
[submodule "bundle/unite_qfix"]
	path = bundle/unite_qfix
	url = https://github.com/soh335/unite-qflist.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/color_flatui"]
	path = bundle/color_flatui
	url = https://github.com/john2x/flatui.vim.git
[submodule "bundle/color_colorschemes"]
	path = bundle/color_colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/color_greyhouse"]
	path = bundle/color_greyhouse
	url = https://github.com/gregstallings/vim-greyhouse.git
[submodule "bundle/color_hemisu"]
	path = bundle/color_hemisu
	url = https://github.com/noahfrederick/vim-hemisu.git
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = https://github.com/xolox/vim-shell.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/color_grb256"]
	path = bundle/color_grb256
	url = https://github.com/quanganhdo/grb256.git
[submodule "bundle/color_solarized"]
	path = bundle/color_solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/color_lizard"]
	path = bundle/color_lizard
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "bundle/color_luna"]
	path = bundle/color_luna
	url = https://github.com/Pychimp/vim-luna.git
[submodule "bundle/color_sol"]
	path = bundle/color_sol
	url = https://github.com/Pychimp/vim-sol.git
[submodule "bundle/quicktask"]
	path = bundle/quicktask
	url = https://github.com/aaronbieber/quicktask.git
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/bling"]
	path = bundle/bling
	url = https://github.com/ivyl/vim-bling.git
[submodule "bundle/sneak"]
	path = bundle/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/color_seoul256"]
	path = bundle/color_seoul256
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "bundle/coVim"]
	path = bundle/coVim
	url = https://github.com/FredKSchott/CoVim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim_monokai"]
	path = bundle/vim_monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "bundle/color_base16"]
	path = bundle/color_base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/color_bubblegum"]
	path = bundle/color_bubblegum
	url = https://github.com/baskerville/bubblegum.git
[submodule "bundle/color_laederon"]
	path = bundle/color_laederon
	url = https://github.com/Donearm/Laederon.git
[submodule "bundle/matchTagAlways"]
	path = bundle/matchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "bundle/easy_align"]
	path = bundle/easy_align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/over"]
	path = bundle/over
	url = https://github.com/osyo-manga/vim-over.git
[submodule "bundle/vmath"]
	path = bundle/vmath
	url = https://github.com/atweiden/vim-vmath.git
[submodule "bundle/vmath/plugin"]
	path = bundle/vmath/plugin
	url = https://github.com/atweiden/vim-vmath.git
[submodule "bundle/dragvisuals/plugin"]
	path = bundle/dragvisuals/plugin
	url = https://github.com/atweiden/vim-dragvisuals.git
[submodule "bundle/tabpagecolorscheme"]
	path = bundle/tabpagecolorscheme
	url = https://github.com/ujihisa/tabpagecolorscheme.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "bundle/vim_session"]
	path = bundle/vim_session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "bundle/context_filetype"]
	path = bundle/context_filetype
	url = https://github.com/Shougo/context_filetype.vim.git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/easymotion_2"]
	path = bundle/easymotion_2
	url = https://github.com/liujoey/vim-easymotion.git
[submodule "bundle/color_FlatColor"]
	path = bundle/color_FlatColor
	url = https://github.com/MaxSt/FlatColor.git
[submodule "bundle/color_harlequin"]
	path = bundle/color_harlequin
	url = https://github.com/nielsmadan/harlequin.git
[submodule "bundle/color_ChasingLogic"]
	path = bundle/color_ChasingLogic
	url = https://github.com/ChasingLogic/ChasingLogic-colorscheme-vim.git
[submodule "bundle/buffergator"]
	path = bundle/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/orgmode"]
	path = bundle/orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "bundle/utl"]
	path = bundle/utl
	url = https://github.com/vim-scripts/utl.vim.git
[submodule "bundle/color_distinguished"]
	path = bundle/color_distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "bundle/ripple"]
	path = bundle/ripple
	url = https://github.com/pydave/vim-ripple.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = https://github.com/vim-scripts/scratch.vim.git
[submodule "bundle/PyScratch"]
	path = bundle/PyScratch
	url = https://github.com/hsitz/PyScratch.git
[submodule "bundle/Pydiction"]
	path = bundle/Pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule "bundle/perlOmni"]
	path = bundle/perlOmni
	url = https://github.com/c9s/perlomni.vim.git
[submodule "bundle/perforce"]
	path = bundle/perforce
	url = https://github.com/vim-scripts/perforce.vim.git
[submodule "bundle/vim_perforce"]
	path = bundle/vim_perforce
	url = https://github.com/pydave/vim-perforce.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule "bundle/undoTree"]
	path = bundle/undoTree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/vim_colors_babymate256"]
	path = bundle/vim_colors_babymate256
	url = https://github.com/baverman/vim-babymate256.git
[submodule "bundle/lose"]
	path = bundle/lose
	url = https://github.com/marczych/vim-lose.git
