[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/colour_sampler_pack"]
	path = bundle/colour_sampler_pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = https://github.com/vim-scripts/perl-support.vim.git
[submodule "bundle/table"]
	path = bundle/table
	url = https://github.com/nvie/vim-rst-tables.git
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/perldoc"]
	path = bundle/perldoc
	url = https://github.com/vim-scripts/Perldoc.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
